@import './variables.scss';
@import '~tachyons-sass/tachyons.scss';

html,
body {
    overflow-x: hidden;
    font-family: $sans-serif;
    -webkit-font-smoothing: antialiased;
}

* {
    // cursor: default;
}

.no-cursor {
    cursor: none;
}