@import './variables.scss';
@import '~tachyons-sass/tachyons.scss';

html,
body {
  font-family: $sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #000;
  overflow-x: hidden;
}

.no-cursor {
  cursor: none;
}

::selection {
  color: #444;
  background: transparent;
}

::-moz-selection {
  background: transparent;
}
