@import './variables.scss';
@import '~tachyons-sass/tachyons.scss';
@import url('https://fonts.googleapis.com/css?family=EB+Garamond:500,700');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400:700');

html,
body {
  font-family: Work Sans, Eb Garamond;
  -webkit-font-smoothing: antialiased;
  // overflow: hidden;
}

html,
body,
.serif {
}

.no-cursor {
  cursor: none;
}

::selection {
  color: #444;
  background: rgba(0, 0, 0, .1);
}

::-moz-selection {
  background: transparent;
}

canvas {
  pointer-events: none;
  z-index: 1 !important;
}

.hover:hover {
  opacity: .5;
}

.f8 {
  font-size: .625em;
  letter-spacing: .3em;
}

video {
  max-width: 1080px;
}